@import '../style/palette';

$button: $accent-h400;
$button-active: $primary-h600;
$button-hover: $accent-h500;
$button-hover-active: $primary-h800;
$button-hover-white: $off-white;
$text-color: $primary-h800;
$text-color-active: $accent-h400;

.management-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2px;
}
.management-content {
  display: flex;
  flex: 1 1 auto;
  margin-top: 5px;
}
.management-list-select > button {
  background-color: $accent-h400 !important;
  color: $text-color !important;
}
.management-list-view {
  margin-left: 2px;
}
.management-view-button {
  background-color: white !important;
  border: 1px solid $text-color !important;
  color: $text-color !important;
  min-width: 50px !important;
  width: 50px !important;
}
.management-view-button:hover {
  background-color: $button-hover-white !important;
  color: $button-hover !important;
}
.management-view-button > div {
  width: 50px !important;
}
.management-wrapper {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 65px);
  padding: 0px 2px 5px 2px;
  position: relative;
}
