# data folder for tests
data/*

# htaccess
dist/.htaccess

# task folder
tasks/*

# node modules, client and server side
node_modules/*
npm-debug.log
.npm

# Mac folder
**/.DS_Store

#old site versions
versions/*

#auth keys
**/client-id.js

#api
api/config.js
