# node modules, client and server side
node_modules/*

# NPM
npm-debug.log

# Optional npm cache directory
.npm

# Mac folder
**/.DS_Store

#client side config
src/env.js

#server side config
server/config.js

#old site versions
versions/*

#api
api/config.js
