/*colors*/
$primary: #607d8b;
$primary-h700: #455a64;
$accent-h400: #ffa726;
$accent-h600: #e64a19;
.primary {
	color: $primary;
}
.primary-h700 {
	color: $primary-h700;
}
.accent-h400 {
	color: $accent-h400;
}
