@import 'palette';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background-color: $primary;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-y: hidden;
}
a {
	color: $accent-h400;
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	outline: none;
}

/*ppvn styling*/
.ppvn-container {
  background: $primary;
}
.effect-movedown {
  background: $primary-h700;
}
.effect-movedown .ppvn-container::after {
  background: rgba(52, 73, 94, 0.5);
}
.outer-nav {
	font-weight: 300;
}

/*nav bar*/
.navbar {
	position: fixed;
	top: 0px;
	z-index: 3;
}

/*material design*/
md-tooltip {
	color: $primary-h700;
	font-weight: 500;
	font-size: 12px;
  .md-content {
  	background-color: $accent-h400;
  }
}
md-tooltip.opaque {
  .md-content {
		opacity: 1;
  }
}
.md-button.md-small {
	min-height: 0px;
	height: 25px;
	width: 25px;
	line-height: 25px;
}
.md-button.md-medium {
	min-height: 0px;
	height: 45px;
	width: 45px;
	line-height: 45px;
}
.md-button.no-margins {
	margin: 0px 0px 0px 0px;
}
.md-button.no-hover-accent.md-accent.md-fab:not([disabled]):hover {
	background-color: $accent-h400;
}
.md-form-font {
	font-weight: 500;
}
md-input-container.md-small-margin {
	margin-bottom: 5px !important;
}

/*cursors*/
.pointer {
	cursor: pointer;
}

/*flex box*/
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flex-row-100 {
  @extend .flex-row;
  width: 100vw;
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-column-100 {
  @extend .flex-column;
  height: 100vh;
}
.flex-align {
  -webkit-align-items: center;
  align-items: center;
}
.flex-align-end {
	-webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-justify {
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-justify-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

/*lists*/
ul.no-bullets {
  list-style-type: none;
  padding: 0px 4px 0px 4px;
  margin: 0;
}
ul.hover-style li {
  padding: 0px 2px 2px 2px;
  border-radius: 2px;
  cursor: pointer;
}
ul.hover-style li:hover {
  color: $primary-h700;
  background-color: $accent-h400;
}
ul.hover-style li:active {
  border-color: $accent-h400;
}
ul.hover-style li:focus {
	outline: 0;
}

/*margins and positioning*/
.m-l-1 {
	margin-left: 1px;
}
.m-l-2 {
	margin-left: 2px;
}
.m-l-3 {
	margin-left: 3px;
}
.m-l-10 {
	margin-left: 10px;
}
.m-l-20 {
	margin-left: 20px;
}
.m-l-25 {
	margin-left: 25px;
}
.m-l-40 {
	margin-left: 40px;
}
.m-l-m3 {
	margin-left: -3px;
}
.m-l-m6 {
	margin-left: -6px;
}
.m-t-5 {
	margin-top: 5px;
}
.m-t-6 {
	margin-top: 6px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-30 {
	margin-top: 30px;
}
.p-l-10 {
	padding-left: 10px;
}
.p-t-10 {
	padding-top: 10px;
}

/*angular transitions*/
.animate-100ms {
	-webkit-transition: all linear 0.1s;
	transition: all linear 0.1s;
}
.animate-200ms {
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;

}
.animate-500ms {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}
.animate-fade.ng-hide {
	opacity: 0;
}
.animate-slide-up {
	position: relative;
	top: 0%;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.animate-slide-up.ng-hide {
	top: 100%;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}
