@import 'palette';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background-color: $primary;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-y: hidden;
}
a {
	color: $accent-h400;
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	outline: none;
}

/*ppvn styling*/
.ppvn-container {
  background: $primary;
}
.effect-movedown {
  background: $primary-h700;
}
.effect-movedown .ppvn-container::after {
  background: rgba(52, 73, 94, 0.5);
}
.outer-nav {
	font-weight: 300;
}

/*nav bar*/
.navbar {
	position: fixed;
	top: 0px;
	z-index: 3;
}

/*material design*/
md-tooltip {
	color: $primary-h700;
	font-weight: 500;
	font-size: 12px;
  .md-content {
  	background-color: $accent-h400;
  }
}
md-tooltip.opaque {
  .md-content {
		opacity: 1;
  }
}
.md-button.md-small {
	min-height: 0px;
	height: 25px;
	width: 25px;
	line-height: 25px;
}
.md-button.no-margins {
	margin: 0px 0px 0px 0px;
}

/*cursors*/
.pointer {
	cursor: pointer;
}

/*flex box*/
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flex-row-100 {
  @extend .flex-row;
  width: 100vw;
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-column-100 {
  @extend .flex-column;
  height: 100vh;
}
.flex-align {
  -webkit-align-items: center;
  align-items: center;
}
.flex-justify {
  -webkit-justify-content: center;
  justify-content: center;
}

/*lists*/
ul.no-bullets {
  list-style-type: none;
  padding: 0px 4px 0px 4px;
  margin: 0;
}
ul.hover-style li {
  padding: 0px 2px 2px 2px;
  border-radius: 2px;
  cursor: pointer;
}
ul.hover-style li:hover {
  color: $primary-h700;
  background-color: $accent-h400;
}
ul.hover-style li:active {
  border-color: $accent-h400;
}
ul.hover-style li:focus {
	outline: 0;
}

/*margins and positioning*/
.m-l-1 {
	margin-left: 1px;
}
.m-l-2 {
	margin-left: 2px;
}
.m-l-3 {
	margin-left: 3px;
}
.m-l-20 {
	margin-left: 20px;
}
.m-l-40 {
	margin-left: 40px;
}
.m-t-6 {
	margin-top: 6px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-30 {
	margin-top: 30px;
}
