@import 'palette';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background-color: $primary;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
a {
	color: $accent-h400;
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	outline: none;
}

/*ppvn styling*/
.ppvn-container {
  background: $primary;
}
.effect-movedown {
  background: $primary-h700;
}
.effect-movedown .ppvn-container::after {
  background: rgba(52, 73, 94, 0.5);
}
.outer-nav {
	font-weight: 300;
}

/*nav bar*/
.navbar {
	position: fixed;
	top: 0px;
}

/*tooltips*/
md-tooltip {
	color: $primary-h700;
	font-weight: 500;
	font-size: 12px;
  .md-content {
  	background-color: $accent-h400;
  }
}
md-tooltip.opaque {
  .md-content {
		opacity: 1;
  }
}

/*cursors*/
.pointer {
	cursor: pointer;
}

/*margins and positioning*/
.m-l-2 {
	margin-left: 2px;
}
.m-l-3 {
	margin-left: 3px;
}
.m-t-30 {
	margin-top: 30px;
}
