/*colors*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.primary {
  color: #607d8b; }

.primary-h700 {
  color: #455a64; }

.accent-h400 {
  color: #ffa726; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #607d8b;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  overflow-y: hidden; }

a {
  color: #ffa726;
  text-decoration: none;
  outline: none; }

a:hover, a:focus {
  outline: none; }

/*ppvn styling*/
.ppvn-container {
  background: #607d8b; }

.effect-movedown {
  background: #455a64; }

.effect-movedown .ppvn-container::after {
  background: rgba(52, 73, 94, 0.5); }

.outer-nav {
  font-weight: 300; }

/*nav bar*/
.navbar {
  position: fixed;
  top: 0px; }

/*material design*/
md-tooltip {
  color: #455a64;
  font-weight: 500;
  font-size: 12px; }
  md-tooltip .md-content {
    background-color: #ffa726; }

md-tooltip.opaque .md-content {
  opacity: 1; }

.md-button.md-small {
  min-height: 0px;
  height: 25px;
  width: 25px;
  line-height: 25px; }

.md-button.no-margins {
  margin: 0px 0px 0px 0px; }

/*cursors*/
.pointer {
  cursor: pointer; }

/*margins and positioning*/
.m-l-1 {
  margin-left: 1px; }

.m-l-2 {
  margin-left: 2px; }

.m-l-3 {
  margin-left: 3px; }

.m-t-6 {
  margin-top: 6px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-30 {
  margin-top: 30px; }
