.content-intro {
  left: 0px;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 30%;
}
.content-menu {
  bottom: 0px;
  left: 5px;
  position: absolute;
  width: 50px;
}
.content-ref-container {
  width: 100%;
}
.content-wrapper {
  flex: 1 1 auto;
  height: 100%;
  padding: 0px 5px 0px 5px;
  position: relative;
  top: 0;
}
