.home {
  height: 100vh;
  font-size: 2em;
  font-weight: 500;
  color: #FFFFFF;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  /*flexbox*/
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
