@import '../style/palette';

.action-button-cancel,
.action-button-reset,
.action-button-update {
  margin: 0px 2px 0px 2px !important;
}
.action-button-cancel > button > div > div > span,
.action-button-reset > button > div > div > span,
.action-button-update > button > div > div > span {
  color: $off-white !important;
}
.action-button-cancel > button {
  background-color: $warning !important;
}
.action-button-cancel > button > div > div:hover {
  background-color: $warning-hover !important;
}
.action-button-reset > button {
  background-color: $alert !important;
}
.action-button-reset > button > div > div:hover {
  background-color: $alert-hover !important;
}
.action-button-update > button {
  background-color: $sucess !important;
}
.action-button-update > button > div > div:hover {
  background-color: $sucess-hover !important;
}
