@import '../../layout/palette';

.project-main {
  height: auto;
  position: relative;
}
.project-main-child {
  width: 100%;
}
.project-main-buttons {
  position: absolute;
  right: 10px;
}
.project-main-other {
  padding-top: 10px;
  margin-right: 50px;
}

.container-backdrop {
  background-color: $primary-h600;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px $accent-h400;
  box-shadow: 0 0 2px $accent-h400;
  margin-top: 10px;
  margin-right: 20px;
}
.project-container-wrapper {
  position: relative;
}
.project-container-sidebar {
  background-color: $accent-h300;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: $primary-h700;
  height: 100%;
  padding: 10px 0px 10px 0px;
  position: absolute;
  width: 30px;
}
.project-container-sidebar-text {
  -webkit-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 30px; /* line-height of .wrapper div:first-child span */
  margin: auto;
  font-weight: bold;
  font-size: 1em;
  line-height: 30px; /* Copy to other locations */
}
.project-container-content {
  padding: 10px 10px 10px 35px;
  padding-left: 35px;
}

.screen-container {
  @extend .container-backdrop;
  //margin-right: 2px;
  //max-width: 500px;
  position: relative;
}
.screen-container .flex-row {
  margin-bottom: 5px;
}
.screen-overview {
  @extend .container-backdrop;
  //margin-right: 1px;
  //max-width: 500px;
  position: relative;
}
.screen-overview .flex-row {
  margin-bottom: 5px;
}
.experiment-overview {
  @extend .container-backdrop;
  //max-width: 500px;
  position: relative;
}
.experiment-overview .flex-row {
  margin-bottom: 5px;
}
.screen-container:hover .profile-container-buttons,
.screen-overview:hover .profile-container-buttons,
.experiment-overview:hover .profile-container-buttons {
  visibility: visible;
}

.collapse-header {
  background-color: $accent-h300;
  border-radius: 4px;
  color: $primary-h700;
  display: none;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.form-container {
  background-color: #fff;
  border: 2px solid $primary-h700;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px 10px 10px;
  position: relative;
  -webkit-box-shadow: 0 0 2px $accent-h400;
  box-shadow: 0 0 2px $accent-h400;
}

.form-description {
  color: $primary-h700;
  padding: 10px 10px 10px 10px;
}
.form-text {
  color: $primary-h700;
}
.form-warning {
  color: $warning;
  padding: 0px 10px 20px 10px;
}
.form-buttons {
  bottom: -12px;
  right: 5px;
  position: absolute;
}
.form-right {
  bottom: -12px;
  right: 5px;
  position: absolute;
  width: 100%;
}

.results-table {
  display: inline-table;
}
.results-table.primary {
  color: $primary-h700;
}
.results-table.white {
  border-color: white;
}
.results-table th {
  border-bottom: 1px solid $primary-h700;
}
.results-table th,
.results-table td {
  padding: 5px 10px 5px 10px;
  text-align: center;
  vertical-align: middle;
}
/*.results-table tbody tr:hover {
  color: $primary-h700;
  background-color: $accent-h400;
}*/
