@import '../../../style/palette';

.display-buttons {
  margin-top: 15px;
}
.display-button-cancel {
  background-color: $warning !important;
  color: $text-color !important;
  margin: 0px 2px 0px 2px !important;
}
.display-button-reset {
  background-color: $alert !important;
  color: $text-color !important;
  margin: 0px 2px 0px 2px !important;
}
.display-button-update {
  background-color: $sucess !important;
  color: $text-color !important;
  margin: 0px 2px 0px 2px !important;
}
.display-button-cancel:hover {
  background-color: $warning-hover !important;
  color: $text-color !important;
  margin: 0px 2px 0px 2px !important;
}
.display-button-reset:hover {
  background-color: $alert-hover !important;
  color: $text-color !important;
  margin: 0px 2px 0px 2px !important;
}
.display-button-update:hover {
  background-color: $sucess-hover !important;
  color: $text-color !important;
  margin: 0px 2px 0px 2px !important;
}
.display-container {
  margin: 15px 15px 10px 15px;
}
.display-element-container {
  align-items: center;
  display: flex;
  margin: 5px 0px 5px 0px;
}
.display-element-key {
  background-color: $primary-h100;
  border: 1px solid $primary-h200;
  border-radius: 2px;
  flex: 0 0 15%;
  text-align: right;
  padding: 5px 5px 5px 5px;
}
.display-element-value {
  flex: 1;
  margin-left: 10px;
}
.display-warning {
  color: $primary-h800;
  margin-top: 10px;
}
.edit-submission {
  color: $primary-h800;
  margin: 10px 0px 0px 10px;
  position: relative;
}
.edit-information {
  background-color: white;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.edit-message-text-enter {
  opacity: 0.01;
}
.edit-message-text-enter.edit-message-text-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.edit-message-text-leave {
  opacity: 1;
}
.edit-message-text-leave.edit-message-text-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
