@import '../../../style/palette';

.manage-button > div {
  width: 25px !important;
}
.manage-content {
  padding: 10px 5px 10px 5px;
}
.manage-footer-buttons {
  margin-right: 20px;
}
.manage-footer-updates {
  margin-right: 20px;
}
.manage-header {
  color: $primary-h800;
}
.manage-information {
  background-color: white;
  margin-top: 20px;
}
.manage-message-text-enter {
  opacity: 0.01;
}
.manage-message-text-enter.manage-message-text-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.manage-message-text-leave {
  opacity: 1;
}
.manage-message-text-leave.manage-message-text-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
.manage-page-button {
  background-color: $off-white !important;
  border: 1px solid $primary-h800 !important;
  color: $primary-h800 !important;
  font-size: 20px !important;
  height: 25px !important;
  line-height: 12px !important;
  margin: 0px 5px 0px 5px !important;
  min-width: 25px !important;
  vertical-align: center !important;
  width: 25px !important;
}
.manage-page-button:hover {
background-color: $off-white !important;
color: $accent-h500 !important;
}
.manage-message-text-enter {
  opacity: 0.01;
}
.manage-message-text-enter.manage-message-text-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.manage-message-text-leave {
  opacity: 1;
}
.manage-message-text-leave.manage-message-text-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
.manage-permission-button {
  background-color: $primary-h600 !important;
}
.manage-permission-button:hover {
  background-color: $primary-h700 !important;
}
.manage-permission-button > div > span {
  color: $accent-h400!important;
}
.manage-permission-popover > div > div > div > div {
    padding: 0px 0px 0px 0px !important;
}
.manage-post-information {
  background-color: white;
}
.manage-radio-button-group {
  margin-left: 15px;
  margin-top: 40px;
}
.manage-search-button {
  height: 36px;
  margin-top: 32px;
}
.manage-search-button > button > div > div > span {
  color: $accent-h400 !important;
}
.manage-search-button > button {
  background-color: $primary-h600 !important;
}
.manage-search-button > button > div > div:hover {
  background-color: $primary-h700 !important;
}
.manage-search-container {
  display: flex;
}
.manage-search-footer-button {
  margin-right: 20px;
}
.manage-search-information {
  background-color: white;
}
.manage-small-select {
  font-size: 12px !important;
  height: 50px !important;
}
.manage-sub-header {
  color: $primary-h800;
}
.manage-subsection {
  margin: 5px 0px 5px 0px;
  padding: 15px 10px 5px 10px;
}
.manage-submission {
  color: $primary-h800;
  margin: 10px 0px 0px 10px;
}
.manage-tabs {
  margin-top: 20px;
}
.manage-tabs > div > button > div > div {
  color: $accent-h400 !important;
}
