ul.horizontal-list {
  display: inline;
  list-style: none;
}
.horizontal-list a {
  display: inline;
  text-decoration: none;
}
.horizontal-list li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
