<div class="flex-column-body">
  <!--creation details-->
  <div class="flex-row" ng-controller="screenManagement as screenManagementVm">
    <div class="flex-column">
      <div class="flex-row">
        <div class="form-container md-form-font">
          <form name="form" ng-submit="screenManagementVm.submit(form.$valid, screenManagementVm.form, vm.project._id)" novalidate>
            <div class="form-description">
              &#x2022; Create a new screen using this form. Fields marked with a * are required.
            </div>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>screen name</label>
              <md-icon md-font-icon="fa-tag" class="fa md-accent"></md-icon>
              <input name="name" ng-model="screenManagementVm.form.name" type="text" required>
              <md-icon md-font-icon="fa-question-circle" class="fa md-primary">
                <md-tooltip md-direction="top" md-autohide="true">
                  A short name for the screen
                </md-tooltip>
              </md-icon>
              <div ng-messages="form.name.$error" role="alert">
                <div ng-message="required">Please give the screen a name</div>
              </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>description</label>
              <md-icon md-font-icon="fa-file-text" class="fa md-accent"></md-icon>
              <textarea name="description" ng-model="screenManagementVm.form.description" required></textarea>
              <md-icon md-font-icon="fa-question-circle" class="fa md-primary">
                <md-tooltip md-direction="top" md-autohide="true">
                  A description of the screen
                </md-tooltip>
              </md-icon>
              <div ng-messages="form.description.$error" role="alert">
                <div ng-message="required">Please give the screen a name</div>
              </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>type</label>
              <md-icon md-font-icon="fa-list" class="fa md-accent"></md-icon>
              <md-select class="primary" name="type" ng-model="screenManagementVm.form.type" required>
                <md-option ng-repeat="type in screenManagementVm.types" value="{{type.name}}">
                  {{type.name}}
                </md-option>
              </md-select>
              <md-icon md-font-icon="fa-question-circle" class="fa md-primary">
                <md-tooltip md-direction="top" md-autohide="true">
                  Specify what type of screen this is.
                </md-tooltip>
              </md-icon>
              <div ng-messages="form.type.$error" role="alert">
                <div ng-message="required">Please specify the screen type</div>
              </div>
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>library</label>
              <md-icon md-font-icon="fa-university" class="fa md-accent"></md-icon>
              <md-select class="primary" name="library" ng-model="screenManagementVm.form.library" required>
                <md-option ng-repeat="library in screenManagementVm.libraries[screenManagementVm.form.type]" value="{{library.name}}">
                  {{library.name}}
                </md-option>
              </md-select>
              <md-icon md-font-icon="fa-question-circle" class="fa md-primary">
                <md-tooltip md-direction="top" md-autohide="true">
                  Select the library (sgRNA, siRNA, etc) used in the screen
                </md-tooltip>
              </md-icon>
              <div ng-messages="form.library.$error" role="alert">
                <div ng-message="required">Please select a library (screen type must be selected first)</div>
              </div>
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>species</label>
              <md-icon md-font-icon="fa-paw" class="fa md-accent"></md-icon>
              <md-select class="primary" name="species" ng-model="screenManagementVm.form.species" required>
                <md-option ng-repeat="species in screenManagementVm.species" value="{{species.name}}">
                  {{species.name}}
                </md-option>
              </md-select>
              <div ng-messages="form.species.$error" role="alert">
                <div ng-message="required">Please select a species</div>
              </div>
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>cell line</label>
              <md-icon md-font-icon="fa-gg-circle" class="fa md-accent"></md-icon>
              <md-select class="primary" name="cell" ng-model="screenManagementVm.form.cell" required>
                <md-option ng-repeat="cell in screenManagementVm.cells" value="{{cell.name}}">
                  {{cell.name}}
                </md-option>
              </md-select>
              <div ng-messages="form.cell.$error" role="alert">
                <div ng-message="required">Please select a cell line</div>
              </div>
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>approach</label>
              <md-icon md-font-icon="fa-braille" class="fa md-accent"></md-icon>
              <md-select class="primary" name="approach" ng-model="screenManagementVm.form.approach" required>
                <md-option ng-repeat="approach in screenManagementVm.approaches" value="{{approach.name}}">
                  {{approach.name}}
                </md-option>
              </md-select>
              <md-icon md-font-icon="fa-question-circle" class="fa md-primary">
                <md-tooltip md-direction="top" md-autohide="true">
                  Specify whether the screen is negative or positive selection, etc.
                </md-tooltip>
              </md-icon>
              <div ng-messages="form.approach.$error" role="alert">
                <div ng-message="required">Please specify the screen approach</div>
              </div>
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>condition</label>
              <md-icon md-font-icon="fa-tint" class="fa md-accent"></md-icon>
              <input name="condition" ng-model="screenManagementVm.form.condition" type="text" required>
              <md-icon md-font-icon="fa-question-circle" class="fa md-primary">
                <md-tooltip md-direction="top" md-autohide="true">
                  Provide a short description of the perturbations used in the screen (drug, stress, etc).
                </md-tooltip>
              </md-icon>
              <div ng-messages="form.condition.$error" role="alert">
                <div ng-message="required">Please describe the screen condition</div>
              </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block md-small-margin">
              <label>comments</label>
              <md-icon md-font-icon="fa-comment" class="fa md-accent"></md-icon>
              <textarea name="comment" ng-model="screenManagementVm.form.comment"></textarea>
              <md-icon md-font-icon="fa-question-circle" class="fa md-primary">
                <md-tooltip md-direction="top" md-autohide="true">
                  Add comments for anything not covered explicately in this form.
                </md-tooltip>
              </md-icon>
            </md-input-container>
            <div class="form-warning" ng-show="screenManagementVm.message">
              &#x2022; {{screenManagementVm.message}}
            </div>
            <div class="flex-row form-buttons">
              <div class="button-container">
                <md-button class="md-fab md-small md-accent no-margins" aria-label="Reset form" ng-click="screenManagementVm.reset()">
                  <i class="fa fa-refresh primary-h700"></i>
                  <md-tooltip md-direction="bottom" md-autohide="true">
                    Reset
                  </md-tooltip>
                </md-button>
              </div>
              <div class="button-container m-l-10">
                <md-button class="md-fab md-small md-accent no-margins" aria-label="Submit" type="submit">
                  <i class="fa fa-arrow-circle-right primary-h700"></i>
                  <md-tooltip md-direction="bottom" md-autohide="true">
                    Submit
                  </md-tooltip>
                </md-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
