<div class="flex-row flex-wrap">
  <!--project details-->
  <div class="flex-column">
    <div class="screen-container">
      <div class="profile-container-buttons">
        <md-button class="md-fab md-small md-accent no-margins" aria-label="Minimize" collapse="screen-container" md-tooltip-destroy>
          <i class="collapse-icon fa fa-window-minimize primary-h700"></i>
          <md-tooltip md-direction="top" md-autohide="true">
            <span class="collapse-text">Minimize</span>
          </md-tooltip>
        </md-button>
        <md-button class="md-fab md-small md-accent no-margins" aria-label="Maximize" expand="screen-container" md-tooltip-destroy>
          <i class="collapse-icon fa fa-window-maximize primary-h700"></i>
          <md-tooltip md-direction="top" md-autohide="true">
            <span class="collapse-text">Maximize</span>
          </md-tooltip>
        </md-button>
        <span class="collapse-icons-other">
          <md-button class="md-fab md-small md-accent no-margins" aria-label="Manage" ng-click="vm.location = 'management'" md-tooltip-destroy>
            <i class="fa fa-wrench primary-h700"></i>
            <md-tooltip md-direction="top" md-autohide="true">
              Manage
            </md-tooltip>
          </md-button>
          <md-button class="md-fab md-small md-accent no-margins" aria-label="Edit" ng-click="">
            <i class="fa fa-pencil-square-o primary-h700"></i>
            <md-tooltip md-direction="top" md-autohide="true">
              Edit
            </md-tooltip>
          </md-button>
          <md-button class="md-fab md-small md-accent no-margins" aria-label="Close" ng-click="vm.introduction = true; vm.project = ''; vm.screen = ''; vm.experiment = ''">
            <i class="fa fa-times primary-h700"></i>
            <md-tooltip md-direction="top" md-autohide="true">
              Close
            </md-tooltip>
          </md-button>
        </span>
      </div>
      <div class="collapse-header">
        Projects
      </div>
      <div class="collapse-container">
        <table>
          <tbody>
            <tr>
              <td align="right" valign="top">
                Project:
              </td>
              <td class="p-l-10">
                [{{vm.project.projectid}}] {{vm.project.title}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Created:
              </td>
              <td class="p-l-10">
                {{vm.project.created * 1000  | date: 'dd-MM-yyyy'}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Creator:
              </td>
              <td class="p-l-10">
                {{vm.project.creator}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Description:
              </td>
              <td class="p-l-10">
                {{vm.project.description}}
              </td>
            </tr>
            <tr>
              <td class="p-t-10" align="right" valign="top">
                Screens:
              </td>
              <td class="p-t-10 p-l-10">
                <ul class="no-bullets hover-style">
                  <li class="m-l-m6" ng-repeat="screen in vm.project.screens" ng-click="vm.screen = screen">
                    [{{screen.screenid}}] {{screen.title}}
                  </li>
                  <li class="m-l-m3" ng-click="">
                    <i class="fa fa-plus-circle"></i> add screen
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--screen details-->
  <div class="flex-column" ng-show="vm.screen">
    <div class="screen-overview">
      <div class="profile-container-buttons">
        <md-button class="md-fab md-small md-accent no-margins" aria-label="Minimize" collapse="screen-overview" md-tooltip-destroy>
          <i class="collapse-icon fa fa-window-minimize primary-h700"></i>
          <md-tooltip md-direction="top" md-autohide="true">
            <span class="collapse-text">Minimize</span>
          </md-tooltip>
        </md-button>
        <md-button class="md-fab md-small md-accent no-margins" aria-label="Maximize" expand="screen-overview" md-tooltip-destroy>
          <i class="collapse-icon fa fa-window-maximize primary-h700"></i>
          <md-tooltip md-direction="top" md-autohide="true">
            <span class="collapse-text">Maximize</span>
          </md-tooltip>
        </md-button>
        <span class="collapse-icons-other">
          <md-button class="md-fab md-small md-accent no-margins" aria-label="Edit" ng-click="">
            <i class="fa fa-pencil-square-o primary-h700"></i>
            <md-tooltip md-direction="top" md-autohide="true">
              Edit
            </md-tooltip>
          </md-button>
          <md-button class="md-fab md-small md-accent no-margins" aria-label="Close" ng-click="vm.screen = ''; vm.experiment = ''">
            <i class="fa fa-times primary-h700"></i>
            <md-tooltip md-direction="top" md-autohide="true">
              Close
            </md-tooltip>
          </md-button>
        </span>
      </div>
      <div class="collapse-header">
        Screen
      </div>
      <div class="collapse-container">
        <table>
          <tbody>
            <tr>
              <td align="right" valign="top">
                Screen:
              </td>
              <td class="p-l-10">
                [{{vm.screen.screenid}}] {{vm.screen.title}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Created:
              </td>
              <td class="p-l-10">
                {{vm.screen.created * 1000  | date: 'dd-MM-yyyy'}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Creator:
              </td>
              <td class="p-l-10">
                {{vm.screen.creator}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Library:
              </td>
              <td class="p-l-10">
                {{vm.screen.library}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Type:
              </td>
              <td class="p-l-10">
                {{vm.screen.type}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Species:
              </td>
              <td class="p-l-10">
                {{vm.screen.species}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Cell line:
              </td>
              <td class="p-l-10">
                {{vm.screen.cellLine}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Approach:
              </td>
              <td class="p-l-10">
                {{vm.screen.approach}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Condition:
              </td>
              <td class="p-l-10">
                {{vm.screen.condition}}
              </td>
            </tr>
            <tr>
              <td class="p-t-10" align="right" valign="top">
                Experiments:
              </td>
              <td class="p-l-10 p-t-10">
                <ul class="no-bullets hover-style">
                  <li class="m-l-m6" ng-repeat="experiment in vm.screen.experiments" ng-click="vm.experiment = experiment">
                    [{{experiment.experimentid}}] {{experiment.details}}
                  </li>
                  <li class="m-l-m3" ng-click="">
                    <i class="fa fa-plus-circle"></i> add experiment
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--experiment details-->
  <div class="flex-column" ng-show="vm.experiment">
    <div class="experiment-overview">
      <div class="profile-container-buttons">
        <md-button class="md-fab md-small md-accent no-margins" aria-label="Minimize" collapse="experiment-overview" md-tooltip-destroy>
          <i class="collapse-icon fa fa-window-minimize primary-h700"></i>
          <md-tooltip md-direction="top" md-autohide="true">
            <span class="collapse-text">Minimize</span>
          </md-tooltip>
        </md-button>
        <md-button class="md-fab md-small md-accent no-margins" aria-label="Maximize" expand="experiment-overview" md-tooltip-destroy>
          <i class="collapse-icon fa fa-window-maximize primary-h700"></i>
          <md-tooltip md-direction="top" md-autohide="true">
            <span class="collapse-text">Maximize</span>
          </md-tooltip>
        </md-button>
        <span class="collapse-icons-other">
          <md-button class="md-fab md-small md-accent no-margins" aria-label="Edit" ng-click="">
            <i class="fa fa-pencil-square-o primary-h700"></i>
            <md-tooltip md-direction="top" md-autohide="true">
              Edit
            </md-tooltip>
          </md-button>
          <md-button class="md-fab md-small md-accent no-margins" aria-label="Close" ng-click="vm.experiment = ''">
            <i class="fa fa-times primary-h700"></i>
            <md-tooltip md-direction="top" md-autohide="true">
              Close
            </md-tooltip>
          </md-button>
        </span>
      </div>
      <div class="collapse-header">
        Experiment
      </div>
      <div class="collapse-container">
        <table>
          <tbody>
            <tr>
              <td align="right" valign="top">
                Experiment:
              </td>
              <td class="p-l-10">
                [{{vm.experiment.experimentid}}] {{vm.experiment.details}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Created:
              </td>
              <td class="p-l-10">
                {{vm.experiment.created * 1000 | date: 'dd-MM-yyyy'}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Experimenter:
              </td>
              <td class="p-l-10">
                {{vm.experiment.experimenter}}
              </td>
            </tr>
            <tr>
              <td align="right" valign="top">
                Protocols:
              </td>
              <td class="p-l-10">

              </td>
            </tr>
            <tr>
              <td class="p-t-10" align="right" valign="top">
                Samples:
              </td>
              <td class="p-l-10 p-t-10">
                <ul class="no-bullets hover-style">
                  <li class="m-l-m6" ng-repeat="samples in vm.experiment.samples" ng-click="vm.sample = sample">
                    [{{sample.sampleid}}] {{sample.details}}
                  </li>
                  <li class="m-l-m3" ng-click="">
                    <i class="fa fa-plus-circle"></i> add sample
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
