html,
body,
.perspective {
  width: 100%;
  height: 100%;
}
.perspective {
  position: relative;
}
.ppvn-container {
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
  -webkit-transform: translateZ(0px) translateX(0) rotateY(0deg);
  -moz-transform: translateZ(0px) translateX(0) rotateY(0deg);
  -o-transform: translateZ(0px) translateX(0) rotateY(0deg);
  -ms-transform: translateZ(0px) translateX(0) rotateY(0deg);
  transform: translateZ(0px) translateX(0) rotateY(0deg);
}
.ppvn-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.4s, height 0s 0.4s;
  -moz-transition: opacity 0.4s, height 0s 0.4s;
  -o-transition: opacity 0.4s, height 0s 0.4s;
  transition: opacity 0.4s, height 0s 0.4s;
}
.ppvn-wrapper {
  position: relative;
}
.component {
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  font-size: 1.5em;
}
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
}
.modalview .ppvn-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.modalview .ppvn-wrapper {
  -webkit-transform: translateZ(-1px);
  -moz-transform: translateZ(-1px);
  -o-transform: translateZ(-1px);
  -ms-transform: translateZ(-1px);
  transform: translateZ(-1px);
}
.animate .ppvn-container::after {
  opacity: 1;
  height: 101%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.outer-nav {
  position: absolute;
  height: auto;
  font-size: 2em;
}
.outer-nav a {
  display: inline-block;
  white-space: nowrap;
  font-weight: 300;
  margin: 0 0 30px 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.outer-nav a::before {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-csstransforms3d .effect-movedown.animate .ppvn-container {
  top: 75%;
}
.effect-movedown .ppvn-container {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: -webkit-transform 0.4s,-moz-transform 0.4s,-o-transform 0.4s,transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.effect-movedown .outer-nav a {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  transition: -webkit-transform 0.4s,-moz-transform 0.4s,-o-transform 0.4s,transform 0.4s, opacity 0.4s;
}
.effect-movedown.animate .ppvn-container {
  -webkit-transform: translateY(100%) translateZ(-1500px);
  transform: translateY(100%) translateZ(-1500px);
}
.effect-movedown.animate .outer-nav a {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.effect-movedown.animate .outer-nav a:nth-child( 7), {
  -webkit-transition-delay: 0.24000000000000002s;
  -moz-transition-delay: 0.24000000000000002s;
  -o-transition-delay: 0.24000000000000002s;
  transition-delay: 0.24000000000000002s;
}
.effect-movedown.animate .outer-nav a:nth-child( 6) {
  -webkit-transition-delay: 0.19999999999999998s;
  -moz-transition-delay: 0.19999999999999998s;
  -o-transition-delay: 0.19999999999999998s;
  transition-delay: 0.19999999999999998s;
}
.effect-movedown.animate .outer-nav a:nth-child( 5) {
  -webkit-transition-delay: 0.16s;
  -moz-transition-delay: 0.16s;
  -o-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
.effect-movedown.animate .outer-nav a:nth-child( 4) {
  -webkit-transition-delay: 0.12s;
  -moz-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
.effect-movedown.animate .outer-nav a:nth-child( 3) {
  -webkit-transition-delay: 0.07999999999999999s;
  -moz-transition-delay: 0.07999999999999999s;
  -o-transition-delay: 0.07999999999999999s;
  transition-delay: 0.07999999999999999s;
}
.effect-movedown.animate .outer-nav a:nth-child( 2) {
  -webkit-transition-delay: 0.04s;
  -moz-transition-delay: 0.04s;
  -o-transition-delay: 0.04s;
  transition-delay: 0.04s;
}
/* Media Queries */
@media screen and (max-width: 77em) {
  .outer-nav.top {
    top: 15%;
  }
  .outer-nav.bottom {
    bottom: 15%;
  }
}
@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {
  .outer-nav.top {
    top: 5%;
  }
  .outer-nav.bottom {
    bottom: 5%;
  }
  .outer-nav.horizontal {
    font-size: 1.7em;
    width: 6.2em;
  }
  .outer-nav.horizontal a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
  .outer-nav.horizontal,
  .outer-nav.vertical {
    font-size: 1.2em;
    width: 6.8em;
  }
  .outer-nav.right {
    right: auto;
    left: 50%;
  }
}
@media screen and (max-height: 31.6em) {
  .outer-nav a {
    margin-bottom: 20px;
  }
}
