@import '../style/palette';

$navbar-background: $primary;
$navbar-link-hover: $primary-h200;
$navbar-text-color: $text-color;

.navbar {
  background-color: $navbar-background;
  color: $navbar-text-color;
  height: 60px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
}
.navbar-icon {
  content:url('../assets/logo/logo-white.png');
  margin-left: 2%;
  margin-top: 4px;
}
.navbar-list {
  float: right;
  line-height: 60px;
  margin-right: 2%;
  text-align: center;
}
.navbar-list .horizontal-list li {
  background-color: $navbar-background;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-kerning: none;
  font-size: 26px;
  cursor: pointer;
}
.navbar-list .horizontal-list a {
  color: $navbar-text-color;
}
.navbar-list .compact-menu {
  background-color: $navbar-text-color;
}
.navbar-list .vertical-list li {
  color: $navbar-background;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
.navbar-list .vertical-list li:hover {
  background-color: $navbar-link-hover;
}

//hover effects
.navbar-list .horizontal-list li:hover {
  background-color: transparentize($navbar-text-color, 0.25);
  transition: background-color 0.7s;
}
.navbar-list .horizontal-list a:hover {
	color: $navbar-background;
  transition: color 0.7s;
}

//resizing
@media screen and (max-width:680px) {
  .navbar-list > .horizontal-list {
    display: none;
  }
  .navbar-list > .compact-list {
    display: inline-block;
  }
}
