/*colors*/
$accent-h300: #ffb74d;
$accent-h400: #ffa726;
$accent-h500: #ff5722;
$accent-h600: #e64a19;

$off-white: #f5f5f5;

$primary: #607d8b;
$primary-h100: #cfd8dc;
$primary-h200: #b0bec5;
$primary-h600: #546e7a;
$primary-h700: #455a64;
$primary-h800: #37474f;

$text-color: #edeff2;
$text-color-hover: #afb1b6;

$alert: #fbc02d;
$alert-hover: #f57f17;
$sucess: #4caf50;
$sucess-hover: #388e3c;
$warning: #ef5350;
$warning-hover: #d32f2f;
