/*colors*/
$accent-h300: #ffb74d;
$accent-h400: #ffa726;
$accent-h600: #e64a19;

$primary: #607d8b;
$primary-h100: #cfd8dc;
$primary-h200: #b0bec5;
$primary-h600: #546e7a;
$primary-h700: #455a64;

$text-color: #edeff2;
$text-color-hover: #afb1b6;

$sucess: #4caf50;
$warning: #d32f2f;
