@font-face {
  font-family: 'Ostrich Sans';
  src: url('../assets/fonts/ostrich-sans/ostrich-sans-regular.woff') format('woff');
  src: local('Ostrich Sans'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-regular.ttf') format('truetype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-regular.svg#OstrichSansCondensedLight') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ostrich Sans Black';
  src: url('../assets/fonts/ostrich-sans/ostrich-sans-black.woff') format('woff');
  src: local('Ostrich Sans Black'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-black.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-black.ttf') format('truetype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-black.svg#OstrichSansCondensedLight') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ostrich Sans Light';
  src: url('../assets/fonts/ostrich-sans/ostrich-sans-light.woff') format('woff');
  src: local('Ostrich Sans Light'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-light.ttf') format('truetype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-light.svg#OstrichSansCondensedLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ostrich Sans Rounded';
  src: url('../assets/fonts/ostrich-sans/ostrich-sans-rounded.woff') format('woff');
  src: local('Ostrich Sans Rounded'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-rounded.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-rounded.ttf') format('truetype'),
       url('../assets/fonts/ostrich-sans/ostrich-sans-rounded.svg#OstrichSansCondensedLight') format('svg');
  font-weight: 500;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
