@import '../../style/palette';

$button-hover: $accent-h500;
$text-color: $primary-h800;

.project-selection {
  margin: 2px 2px 2px 2px;
}
.project-selection-button > button > div > div:hover {
  background-color: $button-hover !important;

}
.project-selection-icon {
  color: $text-color;
}
.project-selection-popover > div > div {
    padding: 0px 0px 0px 0px !important;
}
