@import '../style/palette';

.compact-list {
  display: none;
  line-height: 60px;
  vertical-align: middle;
}
.compact-list-button {
  background: none;
  border: none;
  color: $text-color;
  cursor: pointer;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
.compact-menu {
  border-radius: 2px;
  position: absolute;
  z-index: 11;
}
.compact-backdrop {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
ul.vertical-list {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.vertical-list a {
  text-decoration: none;
}
.vertical-list li {
  padding: 5px 10px 0px 10px;
}
