ul.horizontal-list {
  display: inline;
  list-style: none;
}
.horizontal-list a {
  display: inline;
  text-decoration: none;
}
.horizontal-list li {
  display: inline;
  margin: 0px 4px 0px 4px;
  padding: 5px 5px 0px 5px;
}
